your.domain.com, *.your.domain.com {
    tls {
        dns digitalocean {env.DO_AUTH_TOKEN}
        resolvers 1.1.1.1 1.0.0.1
        propagation_delay 120s
        propagation_timeout 10m
    }
    request_body {
        max_size 500MB
    }
    reverse_proxy launch-lms:80 {
        header_up X-Forwarded-Proto https
        header_up X-Real-IP {remote_host}
        transport http {
            read_timeout 300s
        }
    }
}
